<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://res.cloudinary.com/du7tc1ufz/image/upload/v1595879395/icons8-two-hearts-48_nlgynt.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/support.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Support | Tango</title>
</head>
<body>
     <!-- Navbar and sidebar start -->

    <input type="checkbox" id="check">
    <nav id="myNav" class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/home/<%= currentUser._id %>">
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <img src="https://res.cloudinary.com/du7tc1ufz/image/upload/v1595879395/icons8-two-hearts-48_nlgynt.png" width="42" height="42" class="d-inline-block align-top" alt="" style="margin-left: 40px; margin-right: 5px;">
        <span id="myBrand">Tango</span>
        </a>
    </nav>
    <div class="sidebar">
        <center class="mr-5">
            <img src="<%= currentUser.image %>"
                class="profile_image" alt="">
            <h4><%= currentUser.fullName %></h4>
        </center>
        <div class="scrollable">
            <a href="/profile/<%= currentUser._id %>"><i class="fas fa-user"></i><span>Profile</span></a>
            <a href="/explore"><i class="fas fa-search"></i><span>Explore</span></a>
			<a href="/likedProfiles/<%= currentUser._id %>"><i class="fas fa-heart"></i><span>Likes</span></a>
			<a href="/savedProfiles/<%= currentUser._id %>"><i class="fas fa-bookmark"></i><span>Saved</span></a>
            <a href="/settings/<%= currentUser._id %>"><i class="fas fa-cog"></i><span>Settings</span></a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
        </div>
    </div>
 
     <!-- Navbar and sidebar end -->

    
    <div class="content my-5 py-5">
	<div class="container border shadow-lg my-5 px-5">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12 text-center pl-4 pt-5 display-4">
						Support Center 
					</div>
				</div>
			</div>
			<div class="col-lg-12 mt-5">
				<div class="container bootstrap snippet">
					<div class="row">
					  	<div class="col-lg-10 col-md-10 mx-auto">
					    	<h3 class="title-block second-child text-center my-3">Frequently Asked Questions</h3>
				    		<div class="panel-group pb-5" id="faqList">
				      			<div class="panel panel-default">
				        			<div class="panel-heading">
					          			<h4 class="panel-title p-3 border rounded">
								            <a data-toggle="collapse" data-parent="#faqList" href="#questionOne" class="collapsed">
								              	How is Percentage Match Calculated ? 
								            </a>
					          			</h4>
				        			</div>
							        <div id="questionOne" class="panel-collapse collapse" style="height: 0px;">
							          	<div class="panel-body border p-3">
							            	<p class="p-0 m-0">We at Tango calculate Percentage Match based on certain Preferences or Choices selected by the user during the Account creation.We set a Priority order based on inputs given by the user.Matching is majorly based on Age, City, Gender.In no way we imply that the highest Percentage Match is the Ultimate Match for the user.</p>
							          	</div>
							        </div>
				      			</div>
							    <div class="panel panel-default">
							        <div class="panel-heading">
							          	<h4 class="panel-title p-3 border rounded">
								            <a data-toggle="collapse" data-parent="#faqList" href="#questionTwo" class="collapsed">
                                                How to upload Multiple Images for Profile Pictures ?
								            </a>
							          	</h4>
							        </div>
							        <div id="questionTwo" class="panel-collapse collapse" style="height: 0px;">
							          	<div class="panel-body border p-3">
							            	<p class="p-0 m-0">To upload multiple images, Hold Ctrl and click on all the images to be uploaded. </p> 
							          	</div>
							        </div>
							    </div>
							    <div class="panel panel-default">
							        <div class="panel-heading">
							          	<h4 class="panel-title p-3 border rounded">
								            <a data-toggle="collapse" data-parent="#faqList" href="#collapseFour" class="">
                                                How can I update the Contact No. with which I have registered  ?
                                            </a>
							          	</h4>
							        </div>
							        <div id="collapseFour" class="panel-collapse collapse in" style="height: 0px;">
							          	<div class="panel-body border p-3">
							            	<p class="p-0 m-0">We are sorry to say that once registered with a Contact No. you cannot update or change it.To register with a different Contact No. you will have to create a new Account. </p>
							          	</div>
							    	</div>
								</div>
								<div class="panel panel-default">
							        <div class="panel-heading">
							          	<h4 class="panel-title p-3 border rounded">
								            <a data-toggle="collapse" data-parent="#faqList" href="#collapseFive" class="">
                                                How can I Report someone ?
                                            </a>
							          	</h4>
							        </div>
							        <div id="collapseFive" class="panel-collapse collapse in" style="height: 0px;">
							          	<div class="panel-body border p-3">
							            	<p class="p-0 m-0">You can report them to us by mailing us at <strong>Tangocorp@gmail.com</strong> with the offence. We will only take action if we find your Report to be valid.</p>
							          	</div>
							    	</div>
								</div>
                                <div class="panel panel-default">
							        <div class="panel-heading">
							          	<h4 class="panel-title p-3 border rounded">
								            <a data-toggle="collapse" data-parent="#faqList" href="#collapseSix" class="">
                                               How to Contact Us ?
                                            </a>
							          	</h4>
							        </div>
							        <div id="collapseSix" aria-hidden="false" class="panel-collapse collapse in" style="height: 0px;">
							          	<div class="panel-body border p-3">
											  <p class="p-0 m-0">
												You can Contact us by mailing your queries at <strong>Tangocorp@gmail.com</strong>.We will try to respond to your queries at the earliest.Please coopearate.Any inconvenience caused is regretted.
                                            </p>
							          	</div>
							    	</div>
								</div>
					    	</div>
					  	</div>
					</div> 
				</div>             
			</div>
		</div>
    </div>
    </div>
<%- include("../partials/footer") %>
